body {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   user-select: none;

}

ul {
   padding: 0;
   margin: 0;
   list-style: none;
}

a,
a:hover {
   text-decoration: none;
   color: #fff;
}
nav {
   .nav_item {
      text-align: center;
      width: 100%;
      margin: 10px 0;
      padding: 15px 30px;
      border-radius: 20px;
      display: block;
      background-color: #7e4b82;
   }
}

.wrapper {
   background-color: #1e2227;
   color: #fff;
   height: 100vh;
   overflow: auto;
}

.login {
   width: 100%;
}

.lobby {
   width: 100%;
   height: 60%;

   .lobby_container {
      background-image: linear-gradient(#755390, #2f4571);
      -webkit-box-shadow: 0px 0px 37px 11px #000000; 
      box-shadow: 0px 0px 37px 11px #000000;
      margin: 20px auto;
      width: 70vw;
      height: 60vh;
      position: relative;
      border-radius: 4px;
      border: 1px solid black;

      .players {
         width: 100%;
         height: 70%;

         ul {
            display: flex;
            height: 80%;
         }

         .user {
            background-image: url("@/assets/img/current-player-banner.png");
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            width: calc(100% / 7);
            height: 100%;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            color: #c3a677;
            
            img {
               width: 30%;
               position: absolute;
               top: 20px;
            }

            .username {
               font-size: 1.1vw;
            }
            .position {
               margin: 20px 0;
               font-weight: bold;
               font-size: 1.2vw;
            }
            .total_score {
               font-size: .6em;
               margin-bottom: -3vw;
            }
         }
      }
      
      .start {
         display: flex;
         justify-content: center;
         align-items: center;
         user-select: none;
         
         .start_container {
            position: relative;
            display: flex;
            justify-content: end;
            align-items: center;
            background-color: #b07bd8;
            border: 1px solid black;
            border-radius: 20px;
            padding-right: 10px;
            width: 120px;
            height: 40px;

            .quit {
               width: 40px;
               height: 40px;
               // background-color: ;
               border: 1px solid black;
               display: flex;
               position: absolute;
               left: 0;
               justify-content: center;
               align-items: center;
               font-size: 2em;
               border-radius: 50%;
               cursor: pointer;
               transition: all .3s;

               &:hover {
                  border: 1px solid #fff;

               }
               &:hover span {
                  color: #fff;
               }

               span {
                  transition: all .3s;
                  color: black;
                  transform: translateY(-2px);
               }
            }

            .countdown {
               margin-right: 25px;
            }
         }
      }
   }
}

.options {
   margin: 10px 0;
   display: flex;
   justify-content: space-evenly;
   
   .access_type {
      display: flex;
      align-items: center;
      p {
         margin: 0;
         padding: 0 10px;
         cursor: default;
      }

      .slider {
         width: 30px;
         height: 30px;
         border-radius: 6px;
         background-color: #51bd91;
         cursor: pointer;
      }
      .slider.private {
         background-color: #d55252;
      }
   }
   .max_players {
      position: relative;
      width: 80px;
      height: 34px;
      border-radius: 40px;
      border: 2px solid rgba(255, 255, 255, 0.2);
      transition: 0.3s;

      &:hover {
         width: 120px;
         border: 2px solid rgba(255, 255, 255, 1);
      }

      &:hover .next {
         opacity: 1;
         right: 20px;
      }

      .next {
         position: absolute;
         top: 50%;
         right: 30px;
         display: block;
         width: 12px;
         height: 12px;
         border-top: 2px solid #fff;
         border-left: 2px solid #fff;
         z-index: 1;
         transform: translateY(-50%) rotate(135deg);
         cursor: pointer;
         opacity: 0;
         transition: .3s;
      }

      &:hover .prev {
         opacity: 1;
         left: 20px;
      }

      .prev {
         position: absolute;
         top: 50%;
         left: 30px;
         display: block;
         width: 12px;
         height: 12px;
         border-top: 2px solid #fff;
         border-left: 2px solid #fff;
         z-index: 1;
         transform: translateY(-50%) rotate(315deg);
         cursor: pointer;
         opacity: 0;
         transition: .3s;
      }

      #box span {
         position: absolute;
         display: block;
         width: 100%;
         height: 100%;
         text-align: center;
         line-height: 29px;
         // display: none;
         color: #fff;
         font-size: 24px;
         font-weight: bold;
         user-select: none;
      }
   }
}

.my_btn {
   border-radius: 20px;
   background-color: inherit;
   border: none;
   font-weight: bold;
   transition: all .2s;

   &:hover {
      color: #fff;
   }
}

.match {
   width: 100%;

   .match_container {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 20px;
      position: relative;

      .match_table {
         width: 50vw;
         height: 25vw;
         background-color: #51bd91;
         border-radius: 50%;
         border: 6px solid rgba(255, 255, 255, 0.672);
         position: relative; 

         #master {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            width: 10vw;

            img {
               width: 100%;
            }

            h1 {
               text-align: center;
               margin: -4px 0 0 0;
               font-size: 2vw;
            }
         }

         .player {
            position: absolute;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            width: 7vw;

            .player_name {
               position: absolute;
               bottom: 100%;
               margin-bottom: 7px;
               margin-top: 7px;
               font-weight: bold;
               font-size: 2vw;
               color: #a43440;
               cursor: pointer;
            }

            &#player_1 {
               left: 50%;
               bottom: 15px;
               transform: translateX(-50%);
               
               .player_name {
                  top: 100%;
               }
            }
            &#player_2 {
               left: 75%;
               bottom: 40px;
               transform: translateX(-25%) rotate(-20deg);

               .player_name {
                  top: 100%;
               }
            }
            &#player_3 {
               left: 25%;
               bottom: 40px;
               transform: translateX(-75%) rotate(20deg);

               .player_name {
                  top: 100%;
               }
            }
            &#player_4 {
               left: 90%;
               bottom: 50%;
               transform: translateX(-10%) translateY(50%);

               .player_name {
                  bottom: 100%;
               }
            }
            &#player_5 {
               left: 10%;
               bottom: 50%;
               transform: translateX(-90%) translateY(50%);

               .player_name {
                  bottom: 100%;
               }
            }
            &#player_6 {
               left: 75%;
               bottom: 70%;
               transform: translateX(-25%) rotate(20deg);

               .player_name {
                  bottom: 100%;
               }
            }
            &#player_7 {
               left: 25%;
               bottom: 70%;
               transform: translateX(-75%) rotate(-20deg);

               .player_name {
                  bottom: 100%;
               }
            }
         }

         .match_card {
            height: 3.7vw;
            width: calc(100% / 3);
            border-radius: 4px;

            .back {
               position: relative;
               height: 100%;
               background-color: #fff;
               outline: 2px solid #b63e40;
               outline-offset: -4px;
               border-radius: inherit;

               img {
                  width: 60%;
                  position: absolute;
                  left: 50%;
                  top: 50%;
                  transform: translate(-50%, -50%);
               }
            }
            
            .front {
               height: 100%;
               background-color: #fff;
               outline: 2px solid #b63e40;
               outline-offset: -4px;
               border-radius: inherit;
               color: #b63e40;
               display: flex;
               justify-content: center;
               align-items: center;
               
               .card_value {
                  margin: 0;
                  font-weight: bold;
                  font-size: 1.4vw;
               }
            }
         }
      }
   }

   .options {
      height: 200px;
      display: flex;
      justify-content: space-evenly;
      align-items: center;

      .option {
         height: 70px;
         width: 150px;
         color: #b63e40;
         font-weight: bold;
         border-radius: 10px;
         border: 3px solid #b63e40;
         background-color: #fff;
         display: flex;
         align-items: center;
         justify-content: center;
         cursor: pointer;
      }
   }
}

.winners {

   height: 100vh;
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   align-items: center;

   .winner {
      margin: 40px 20px 0;
      min-width: 100px;
      height: 120px;
      padding: 20px;
      background-color: #da3f74;
      outline: 3px solid white;
      outline-offset: -6px;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      transition: all .2s;

      cursor: default;

   }

   .options {
      height: 200px;
      display: flex;
      justify-content: space-evenly;
      align-items: center;

      .option {
         height: 70px;
         width: 150px;
         color: #b63e40;
         font-weight: bold;
         border-radius: 10px;
         border: 3px solid #b63e40;
         background-color: #fff;
         display: flex;
         align-items: center;
         justify-content: center;
         cursor: pointer;
      }
   }   
}

/* From uiverse.io by @victoryamaykin */
.switch {
   position: relative;
   display: inline-block;
   width: 120px;
   height: 34px;
  }
  
  .switch input {
   display: none;
  }
  
  .slider {
   position: absolute;
   cursor: pointer;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background-color: #3C3C3C;
   -webkit-transition: .4s;
   transition: .4s;
   border-radius: 34px;
  }
  
  .slider:before {
   position: absolute;
   content: "";
   height: 26px;
   width: 26px;
   left: 4px;
   bottom: 4px;
   background-color: white;
   -webkit-transition: .4s;
   transition: .4s;
   border-radius: 50%;
  }
  
  input:checked + .slider {
   background-color: #0E6EB8;
  }
  
  input:focus + .slider {
   box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
   -webkit-transform: translateX(26px);
   -ms-transform: translateX(26px);
   transform: translateX(85px);
  }
  
  /*------ ADDED CSS ---------*/
  .slider:after {
   content: 'PUBBLICA';
   color: white;
   display: block;
   position: absolute;
   transform: translate(-50%,-50%);
   top: 50%;
   left: 50%;
   font-size: 10px;
   font-family: Verdana, sans-serif;
  }
  
  input:checked + .slider:after {
   content: 'PRIVATA';
  }
  
  /*--------- END --------*/