* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}
body {
   font-family: Helvetica, sans-serif;
   background-color: #23272e;
   color: white;
   min-height: 100vh;
}
header {
   display: block;
   width: 100%;
}
header a {
    transition: all 0.2s;
}
header a:hover {
   text-decoration: underline;
   font-weight: bold;
}
a {
   display: block;
   padding: 10px 20px;
   border-radius: 4px;
   text-decoration: none;
   color: #fff;
   transition: all .2s;
}
a:hover {
   text-decoration: none;
   background-color: #fff;
   color: #23272e;
}

.container {
   padding: 30px 0;
   width: 80%;
   min-width: 300px;
   margin: 0 auto;
   display: flex;
   justify-content: center;
}
.table {
   color: #fff;
}
h1 {
   padding: 30px 0;
   text-align: center;
}

h1 {
   text-align: center;
   padding: 30px 0;
}
.my_btn {
   display: block;
   margin: 20px;
   padding: 10px 20px;
   border-radius: 4px;
   border: 2px solid white;
   font-size: 20px;
}
h2 {
   margin-top: 30px;
   text-align: center;
}
.my_form {
   width: 300px;
}
input, textarea {
   display: block;
   padding: 7px;
   width: 100%;
   margin: 5px 0;
   font-size: 17px;
   border: none;
   border-radius: 5px;
}
input:focus,
textarea:focus {
   outline: none;
}
label {
   display: block;
   margin-top: 18px;
}
.submit {
   margin: 20px 0;
   color: #fff;
   border: 2px solid #fff;
   background-color: transparent;
   cursor: pointer;
   transition: all .2s;
}
.submit:hover {
   background-color: #fff;
   color: #23272e;
}